.textcenter {
  text-align:center;
  padding:20px;
}

.divlistederoulante {
  margin:auto;
  width: 100%;
}

.listederoulante {
  width: 100%;
}

body {
	background-image:url(../images/backParahoster.jpg);
}


.divlogo{
	background : url("../images/Logo.svg") no-repeat ;
	height:100%
}

.logo{
	background : url("../images/Logo.svg") no-repeat ;
}

.divcadre{
	width:35%;
	margin: auto;
	display:block
}
.bouton{
	float: right;
 	margin-top: 10px;
 	margin-left: 50px;
 
}
.eval{
 	margin-bottom: 10px;
	text-align: center;
}
.divabouton{
 	
}
.left{
 	float: left !important;
}



#display{
	float: left;
	width: 70%;
    height: 400px;
    background-color: white;
    overflow-x: hidden;
    overflow-y: hidden; 
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    display:block
	
}

.boitemessage{
clear:left
	
}